body .document {
    width:auto;
    }

body .right_panel {
    width:auto;
    max-width:36em;
    margin:0;
    right:0;
    }

#doc_display {
    max-width:75%;
}

body .document_text {
    width:auto;
    max-width:none;
    padding-right:14px;

    -moz-column-width: 42em;
    -webkit-column-width: 42em;
    column-width: 42em;
    -moz-column-gap: 5em;
    -webkit-column-gap: 5em;
    column-gap: 5em;
    -moz-column-fill:balance;
    -webkit-column-fill:balance;
    column-fill:balance;
    }

body #divider {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-start;
    gap:1rem;
    align-content:flex-start;
}


